body{
background-color: white;
margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

.home-header{
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-row{
  padding: 35px 0 35px 0;
  border: 1px solid gray;
}

.home-icon{
  width:50%;
}

.home-heading{
  padding: 25px;
  padding-top: 50px;
}


.home-container{
  width: 60%;
  padding-top: 30px;
}

.vehicle-btn {
  margin: 5px;
}

.stock-btn{
  margin: 5px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

label {
  display: inline-block;
  width: 140px;
  text-align: left;
}

.vehicle-heading{
  text-align: left;
}

@media (max-width: 373px) {
  label {
    display: inline-block;
    width: 140px;
    text-align: center;
  }

  .home-container{
    margin-left: 0;
    padding-left: 60px;
    margin-right: 0;
  }


}
