body{
background-color: white;
margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

.vehicle-btn {
  margin: 5px;
}

.stock-btn{
  margin: 5px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

label {
  display: inline-block;
  width: 140px;
  text-align: left;
}

@media (max-width: 373px) {
  label {
    display: inline-block;
    width: 140px;
    text-align: center;
  }
}
