body{
background-color: white;
margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

label {
  display: inline-block;
  width: 140px;
  text-align: left;
}

.home-header{
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-row{
  padding: 35px 0 35px 0;
  border: 1px solid gray;
}

.home-icon{
  width:50%;
}

.home-heading{
  padding: 25px;
  padding-top: 50px;
}


.home-container{
  width: 60%;
  padding-top: 30px;
}

.vehicle-btn {
  margin: 5px;
}

.stock-btn{
  margin: 5px;
}

.vehicle-heading{
  text-align: left;
  color: white;
}

.form-btn{
  margin-left: 10px;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: hidden!important;
}

.accordion-group:hover{
  padding-left: 50px;
}

.btn:focus{
  outline: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}

.content-row:hover{

  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.vehicle-details{
  margin-left: 15px;
}

.accordion-heading{
  background-color: gray;
  border-radius: 10px;
}

.accordion-inner{
  padding-top: 15px;
}

.vehicle-right-text{
  text-align: right;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

@media (max-width: 990px) {
  .vehicle-right-text{
    text-align: left;
  }
}

@media (max-width: 373px) {
  label {
    display: inline-block;
    width: 140px;
    text-align: center;
  }

  .home-container{
    margin-left: 0;
    padding-left: 60px;
    margin-right: 0;
  }

}
