body{
  background-color: #e6e6e6;
}

.sidenav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.nav-logo {
  margin-left: 8%;
}

.nav-logo img{
  width: 20%;
}

.sidenav-links{
  margin-top: 10%;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.footer-icons{
  bottom: 0;
  left: 36px;
  position: relative;
}

.container{
  height: 100%;
  width: 90%;
}

.welcome{
  position: absolute;
  left: 50%;
  top: 15%;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
