<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>
  <div class="container">
    <div class="sidenav">
      <img class="nav-logo" src="../models/logo.png" alt="logo">
      <div class="sidenav-links">
        <a href="../stock.php">Stock Overview</a>
        <a href="../modify.php">Modify Stock</a>
      </div>
      <div class="footer-icons">
        <img src="../models/fb.png" alt="fb">
        <img src="../models/li.png" alt="fb">
        <img src="../models/tw.png" alt="fb">
      </div>
    </div>

  </body>
</html>
